<html>
    <title>find password</title>
    <link rel="stylesheet" href="/static/css/login.css" >
    <body>
        <div>
            <a href="/">
                <img id="logo" src="/static/img/logo.png" alt="logo">
            </a>
        </div>
        <label>enter your email:</label>
        <input id='inpEmail' type="text">
        <label id="showMsg"></label><br>
        <input type="submit" value="send a link" id="sendLink"><br>
        <a href="/login">
            <input type="submit" value="back to login"><br>
        </a>

    </body>
    <script src="/static/js/find_info.js"></script>
</html>