<!DOCTYPE html>

<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <header>
        <nav id="navMain">
            <a href="index.html">Home</a> |
            <a href="facts.html">Facts and Figures</a> |
            <a href="contact.html">Contact us</a> |
            <a href="news.html">News</a>
        </nav>
        <img id="bannerMain" src="images/bannerLead.jpg" alt="Banner" >
    </header>
    <section id="sectionMain">
        <h1>Welcome To The POP Site</h1>
        <h2>Introduction</h2>
        <p id="pIntro1" class="pIntro">
            Welcome to POP. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p id="pIntro2" class="pIntro">
            Welcome to POP.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>
    <aside id="asideMain">
        <h2>Main Aside</h2>
        <p>The ...</p>
    </aside>
    <footer id="footerMain">
        <nav id="navFooter">
            <a href="index.html">Home</a> |
            <a href="facts.html">Facts and Figures</a> |
            <a href="contact.html">Contact us</a> |
            <a href="news.html">News</a>
        </nav>
    </footer>

</body>

</html>