<!DOCTYPE html>
<head>
    <title>participant portal</title>
    <link rel="stylesheet" href="/static/css/participant.css">
</head>
<body>
    <div>
        <a href="/">
            <img id="logo" src="/static/img/logo.png" alt="logo">
        </a>
    </div>
    <h1>{{greeting}}</h1>
    
    <div>
        <input type="button" value="Events">
        <a href="/edit_profile">
            <input type="button" value="Edit profile">
        </a>
        <a href="/basket">
            <input type="button" value="Basket">
        </a>
            <a href="/">
            <input type="button" value="Logout"><br>
        </a>
    </div>
        <form>
            <div>
                <ul>ABC BAR</ul>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <input type="button" value="delete">
            </div>
            <div>
                <ul>CHRISMAS PARTY 001</ul>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <input type="button" value="delete">
            </div>
        </form>
    </div>
</body>
<script src="/static/js/host_portal.js"></script>
</html>