<! Doctype Html>
    <title>welcome page</title>
    <head>
        <link rel="stylesheet" href="/static/css/index.css" >
    </head>
    <body>
        <div>
            <a href="/">
                <img id="logo" src="/static/img/logo.png" alt="logo">
            </a>
        </div>
        <div>
            <h3 class="navigator" id="askLogin">Have an account? login right now!</h3>
            <h3 class="navigator" id="askSignup">Registrate a new account?</h3>   
        </div>
    </body>
    <script src="/static/js/index.js"></script>
</html>